#logo {
  margin: 24px;
}
#logo a {
  margin: 0px;
}
#logo a span {
  color: rgb(246, 183, 106);
}
#logo a {
  text-decoration: none;
}
.menu-item img {
  width: 375px;
  max-height: 250px;
}
footer {
  background-color: rgb(246, 183, 106);
  height: 100px;
  width: 100%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
footer ul li {
  display: inline;
  font-size: 30px;
  margin: 5px;
}
footer p {
  margin-top: 10px;
  color: #971616;
}
.center-block {
  width: 80%;
  margin: 0px auto;
}
#social ul li a :hover {
  color: rgb(255, 0, 0);
}
footer ul li a {
  text-decoration: none;
  color: #971616;
}
footer ul {
  margin: 0;
  padding-top: 10px;
  padding-left: 0;
}
.w3-container figure {
  max-width: 179.58px;
  margin: 20px 0 0 0;
}
.w3-container figure figcaption {
  margin-left: 15px;
  margin-bottom: 16px;
}
#menuContent {
  width: 100%;
  height: min-content;
  padding: 16px 39px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-item-description {
  text-align: center;
  margin: 10px 0;
}
.menu-item-container {
  max-width: 375px;
}
#errorContent {
  height: 100px;
  padding: 40px;
}
.same-width {
  width: 150px;
}
#display-flex {
  display: flex;
}
#display-flex p {
  padding-left: 16px;
}
#display-flex h3 {
  margin-left: 16px;
  margin-top: 25px;
}
#display-block {
  padding: 10px 0 10px 0;
}
#search {
  margin-top: 20px;
  width: 25%;
  margin-left: 40px;
}
.white-font p {
  color: white;
  word-break: break-all;
}
